.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.circle--small{
    width: 2em;
    height: 2em;
}

.circle--medium{
    width: 4em;
    height: 4em;
}

.circle--large{
    width: 6em;
    height: 6em;
}
.circle__img {
    display: flex;
    justify-content: center;
}

.circle__img--small{
    width: 1em;
    height: 1em;
}
.circle__img--medium{
    width: 2em;
    height: 2em;
}
.circle__img--large{
    width: 3em;
    height: 3em;
}