.wonder-button {
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border-radius: 0;
  border: 0;
}
.wonder-button--border{
  border-radius: 8px;
}
.wonder-button--large {
  font-size: 20px;
  padding: 14px 32px;
}
.wonder-button--medium {
  font-size: 18px;
  padding: 13px 28px;
}
.wonder-button--small {
  font-size: 16px;
  padding: 12px 24px;
}
.wonder-button--neon {
  box-shadow: -2px 1px 14px 2px #ff805a;
}
.button__itern-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.button__itern-container__img--small {
  width: 2rem;
}
.button__itern-container__img--medium {
  width: 4rem;
}
.button__itern-container__img--large {
  width: 6rem;
}
